<!-- src/views/index.ejs-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message-Board</title>
</head>
<body>
    <div class="chat-box">
        <h2><%= title %></h2>
        <!-- Get each message's object key pair value  -->
        
        <%  messages.forEach(element => { %>
            <div>
            <h2> <%= `${element.username}` %> </h2>
            <p> <%= element.message %></p>
            <p> <%= element.created_at %></p>
            </div>
       <%  }) %>
        

        <a href="http://localhost:<%= PORT%>/new">Send New Messages</a>

   </div>

</body>
</html>
